<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Игра - зарегистрирован</title>
    <link href="../assets/stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/firefox.css" media="screen" rel="stylesheet" type="text/css">
    <link href="../assets/stylesheets/ie10.css" media="screen" rel="stylesheet" type="text/css">
    <!--[if lte IE 9]>
    <link href="../assets/stylesheets/ie9.css" media="screen" rel="stylesheet" type="text/css">
    <![endif]-->
    <!--[if lte IE 8]>
    <link href="../assets/stylesheets/ie8.css" media="screen" rel="stylesheet" type="text/css">
    <![endif]-->
    <link href="../assets/stylesheets/jquery.mCustomScrollbar.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:700,400&subset=latin,cyrillic-ext,latin-ext,cyrillic"
          rel="stylesheet"
          type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic"
          rel="stylesheet"
          type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Russo+One&amp;subset=latin,cyrillic,latin-ext" rel="stylesheet"
          type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--[if lte IE 9]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/css3-mediaqueries.min.js"></script>
    <![endif]-->
    <script src="../assets/javascripts/html5shiv.min.js"></script>
    <script src="../assets/javascripts/html5shiv-printshiv.min.js"></script>
    <!--[if lte IE 8]>
    <script src="../assets/javascripts/selectivizr-min.js"></script>
    <![endif]-->
</head>
<body>

<section class="game-container clearfix tournament">
    <div class="track-in-game">
        <div class="shadow-track"></div>
        <div class="track-center-wrapper">
            <a class="img-ref" href="#"><img src="../assets/images/big-img-in-track.jpg" class="game-in-track"></a><!--
            --><a href="#" class="btn-in-track text-shadow">Играть!</a><!--
            -->
            <div class="track-desc">
                В игре <a href="#" class="track-desc-ref">Big Bad Wolf</a> игрок Truman выиграл <span class="sum">14.000.00 Rub</span>
            </div>
            <div class="close-icon"></div>
        </div>
        <div class="first-line"></div>
        <div class="second-line"></div>
    </div>
    <div class="left-column">
        <div class="left-top-shadow"></div>
        <div class="gray-line"></div>
        <a class="logo" href="#"></a>
        <a class="btn-cashier" href="#">
            <div class="shadow">
                Касса
            </div>
            <span>Касса</span></a>

        <div class="scale-block">
            <div class="progress-bar-block clearfix">
                <div class="user-status">Новичок</div>
                <ul class="rate">
                    <li class="full-star">
                    <li class="full-star">
                    <li class="half-star">
                    <li class="empty-star">
                    <li class="empty-star">
                </ul>
                <div class="scale progress-bar">
                    <div class="color">
                        <div class="light"></div>
                    </div>
                </div>
            </div>
            <div class="count-of-franks clearfix">
                <a href="#" class="count-text">0 франков</a>

                <div class="multiplier">x3</div>
                <div class="scale count-scale">
                    <div class="color">
                        <div class="light"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="battery">
            <div class="popup-charge">
                <div class="popup-text">
                    <p>Загрузи батарею на 100%</p>

                    <p>Получи 20 спинов в игре <a href="#">Tomb Raider II</a></p>
                </div>
                <div class="close-icon"></div>
                <div class="popup-wrapper">
                    <div class="first-line"></div>
                    <div class="second-line"></div>
                    <div class="no-wait">
                        <div class="shadow">Не хочешь ждать</div>
                        Не хочешь ждать</div>
                    <a class="charge-now" href="#">
                        <div class="shadow">Заряди сейчас</div>
                        Заряди сейчас</a>
                    <a class="more-details" href="#">подробнее</a>
                </div>
            </div>
            <div class="charge-description clearfix">
                <div class="text-charge"><div class="shadow">Зарядка бонуса: <span>45</span>%</div>
                    Зарядка бонуса: <span>45</span>%</div>
                <div class="popup-call"></div>
            </div>
            <div class="battery-charge">
                <div class="min-charge"></div>
                <div class="green">
                    <div class="green-light"></div>
                </div>
                <div class="full-charge">
                    <a href="#" class="text-in-battery">
                        <div class="shadow">Забрать бонус</div>
                        Забрать бонус</a>

                    <div class="shadow-charge"></div>
                </div>
            </div>
        </div>
        <a class="btn-exit" href="#">
            <div class="shadow">
                Выход
            </div>
            <span>Выход</span></a>
    </div>
    <div class="center-column">
        <iframe>

        </iframe>
    </div>
    <div class="right-column">
        <div class="right-top-shadow"></div>
        <div class="gray-line"></div>
        <a class="btn-refresh" href="#">
            <div class="shadow">
                Обновить
            </div>
            <span>Обновить</span></a>
        <a class="btn-help" href="#">
            <div class="shadow">
                Онлайн помощь
            </div>
            <span>Онлайн помощь</span></a>
        <section class="tournament-section">
            <div class="container">
                <div class="box-tournament">

                    <a href="#" class="tournament-name">
                        Турнир «<span class="name">Быстрее, выше, сильнее!</span>»
                    </a>

                    <div class="img-in-tournament">
                        <a class="tournament-link" href="#"><img class="tournament-img"
                                                                 src="../assets/images/tourn-img.jpg" alt=""/></a>
                    </div>
                    <div class="prize-pool text-shadow">
                        призовой фонд
                        <span class="color-sum">129,000 Fr</span>
                    </div>
                    <div class="time-counter">
                        <div class="time-description">до конца осталось</div>
                        <div class="counter">
                            <div class="count days"><span class="data-days">02</span>

                                <p>:</p>

                                <div class="letter">д</div>
                            </div><!--
                        --><div class="count hours"><span class="data-hours">09</span>

                                <p>:</p>

                                <div class="letter">ч</div>
                            </div><!--
                        --><div class="count months"><span class="data-months">20</span>

                            <p>:</p>

                            <div class="letter">м</div>
                        </div><!--
                        --><div class="count days"><span class="data-days">44</span>

                            <div class="letter">с</div>
                        </div>
                            </div>
                    </div>
                </div>
                <div class="rating">
                    <table class="tournament-rating">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>логин</th>
                            <th>очки</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>egor369</td>
                            <td>6776858</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>hippon</td>
                            <td>5643466</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ligoionnik</td>
                            <td>3546578</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>miron</td>
                            <td>896099</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>egor369</td>
                            <td>6776858</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>hippon</td>
                            <td>5643466</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ligoionnik</td>
                            <td>3546578</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>miron</td>
                            <td>896099</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>egor369</td>
                            <td>6776858</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>hippon</td>
                            <td>5643466</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ligoionnik</td>
                            <td>3546578</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>miron</td>
                            <td>896099</td>
                        </tr>
                        <tr class="current-user">
                            <td>
                                <div class="arrow-in-table"></div>
                            </td>
                            <td>Вы (место 21)</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div class="battery">
            <div class="popup-charge">
                <div class="popup-text">
                    <p>Загрузи батарею на 100%</p>

                    <p>Получи 20 спинов в игре Tomb Raider II</p>
                </div>
                <div class="close-icon"></div>
                <div class="popup-wrapper">
                    <div class="first-line"></div>
                    <div class="second-line"></div>
                    <div class="no-wait">
                        <div class="shadow">Не хочешь ждать</div>
                        Не хочешь ждать</div>
                    <a class="charge-now" href="#">
                        <div class="shadow">Заряди сейчас</div>
                        Заряди сейчас</a>
                    <a class="more-details" href="#">подробнее</a>
                </div>
            </div>
            <div class="charge-description clearfix">
                <div class="text-charge"><div class="shadow">Зарядка бонуса: <span>45</span>%</div>
                    Зарядка бонуса: <span>45</span>%</div>
                <div class="popup-call"></div>
            </div>
            <div class="battery-charge">
                <div class="min-charge"></div>
                <div class="green">
                    <div class="green-light"></div>
                </div>
                <div class="full-charge">
                    <a href="#" class="text-in-battery">
                        <div class="shadow">Забрать бонус</div>
                        Забрать бонус</a>

                    <div class="shadow-charge"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="footer-line"></div>
<script src="../assets/javascripts/opera12.js"></script>
<!--[if lte IE 8]>
<script src="../assets/javascripts/ie8.js"></script>
<![endif]-->
<!--[if lte IE 9]>
<script src="../assets/javascripts/jquery-ie-text-shadow.js"></script>
<![endif]-->
<!--[if lte IE 9]>
<script src="../assets/javascripts/ie8-9.js"></script>
<![endif]-->
<script src="../assets/javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../assets/javascripts/main.js"></script>
</body>
</html>