.payment-systems-description {
  .main-header {
    padding: 21px 0 22px;
  }
  .full-page-wrapper {
    width: $full-page-wrapper-width + 1;
  }
  .content-pos-point {
    padding-bottom: 400px;
  }
}