$change-password-input-width: 185px;
$change-password-input-height: 28px;

.change-password-block {
  position: relative;
}

.change-password {
  display: inline-block;
  margin-top: 55px;
}

.change-password-form {
  width: 100%;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 4;
  display: none;
  &.active {
    display: block;
  }
  .input-container-block {
    display: inline-block;
  }
  .input-container {
    float: left;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
    .error-password {
      white-space: nowrap;
      position: absolute;
      color: $error-text-color;
      bottom: -19px;
      left: 12px;
      font-size: 12px;
    }
  }
  input.form-field {
    width: $change-password-input-width !important;
    height: $change-password-input-height;
  }
  .confirm-btn {
    @extend %confirm-btn;
    display: block;
    margin: 30px auto;
  }
}