.game-description-page {
  .left-content {
    margin-left: 59px;
  }
  .small-game-list {
    margin-left: 0;
  }
}

.game-btn-container {
  padding: 25px 0 27px;
  .games-play-btn {
    display: block;
    margin: 0 auto;
  }
}

.game-content-box {
  margin: 20px 0;
  h3 {
    margin: 22px 0;
  }
}

.game-list-block {
  .big-head {
    margin: 20px 0;
  }
}