$mark-ok-width: 142px;
$mark-ok-height: 116px;

.popup.change-password {
  .popup-middle-head {
    width: 75%;
    margin: 32px auto 0;
  }
  .mark-ok {
    @include size($mark-ok-width,$mark-ok-height);
    margin: 41px auto 0;
    background: url(../pic/popup/mark-ok.png) no-repeat 0 0;
    position: relative;
    left: 5px;
  }
  .auth-btn {
    margin-top: 54px;
  }
}