$letter-arrow-width: 62px;
$letter-arrow-height: 62px;
$restore-password-form-width: 374px;

.popup.restore-password {
  .popup-middle-head {
    width: 80%;
    margin: 32px auto 38px;
  }
  .ok-btn {
    margin: 30px auto 23px;
  }
  .letter {
    .arrow {
      position: absolute;
      width: $letter-arrow-width;
      height: $letter-arrow-height;
      top: -27px;
      right: -32px;
      background: url(../pic/popup/letter-arrow.png) no-repeat 0 0;
    }
  }
  .popup-description {
    font-family: "Tahoma", sans-serif;
  }
  .restore-password-form {
    background: $popup-form-bg;
    border: 1px solid $popup-form-border;
    width: $restore-password-form-width;
    @include border-box();
    padding: 34px 30px;
    margin: 90px auto 0;
    .input-container {
      width: 100%;
    }
    .submit-form-btn {
      @extend %default-popup-btn;
      margin-top: 47px;
      width: 100%;
    }
  }
}